# Not your usual solution, but an excellent solution nontheless

For the very start, I need to say that I am not going to use regression or any tree-based method here. I am going to __reverse engineer__ the kaggle titantic data set.

Why?

Have you noticed that many people managed to get a perfect score for this problem? 100% correct. I wouldn't expect any machine learning algorithm to perform this good, and you should think this way too. One way to obtain a perfect score is to check manually the survival status of each person in the test set. A perfectly viable solution, but not Pythonic at all!!!

A better solution, in my opinion, is to use web scraping to gather that info from the internet. Solving the problem this way will not garrentee a perfect score, but will substantially reduce the problem to the extent that can be solved by hand. For example, check a few dozen names on the internet instead of hundreds of names.

This solution has two parts. Part 1 is the web crawller which is straight forward and hosted [here](https://github.com/HVoltBb/misc/src/kaggle/titantic/crawler.py) on GitHub. Part 2 is the data processing part, and it is shown below.

There are numerous online sources that you can crawl, but the one I used is the [Encyclopedia TITANICA](https://www.encyclopedia-titanica.org/titanic-survivors/). You may also use the [Wikipedia page](https://en.wikipedia.org/wiki/Passengers_of_the_Titanic), which also has a well formated table.

WARNING: I know some of you will hate this solution. You don't have to like it. But by doing this exercise, you learn far more about this problem than simply running some packaged models.

Much of the effort is spent on transforming non-ascii characters into ascii characters. You will see more below.

WARNING: Also note that I wrote this notebook on my own laptop. Some of the statements require Python 3.8+, and Python on kaggle is 3.7, and you will get syntax errors if you execute this notebook on kaggle. You may convert those statements to be 3.7 compatible by typing some extra characters.

In [58]:
import pandas as pd
import re
import numpy as np

train = pd.read_csv('~/Downloads/train.csv')
test = pd.read_csv('~/Downloads/test.csv')

I have downloaded these datasets to my laptop.

In [59]:
print(f'{train.shape}_train, {test.shape}_test')

(891, 12)_train, (418, 11)_test

# Tables from Encyclopedia TITANTICA

Both `surv.csv` and `vict.csv` are generated by running this [script](https://github.com/HVoltBb/misc/src/kaggle/titantic/crawler.py).

For your convenience, they can also be downloaded [here](https://github.com/HVoltBb/misc/src/kaggle/titantic/surv.csv) and [here](https://github.com/HVoltBb/misc/src/kaggle/titantic/vict.csv)

In [60]:
suv = pd.read_csv('surv.csv')
vic = pd.read_csv('vict.csv')

In [61]:
print(f'{suv.shape}_surv, {vic.shape}_vic')

(712, 5)_surv, (1496, 5)_vic

In [62]:
suv['survived'] = 1
vic['survived'] = 0
ground_truth = pd.concat([suv, vic])
ground_truth['fsname'] = [re.search('^(.*?)( |$)', item).group(1) for item in ground_truth['given name']]
ground_truth.head()

,family name,prefix,given name,age,alt name,survived,fsname
0,ABBOTT,Mrs,Rhoda Mary 'Rosa',39.0,rhoda-mary-rosa-abbott,1,Rhoda
1,ABELSETH,Miss,Kalle (Karen) Marie Kristiane,16.0,karen-marie-abelseth,1,Kalle
2,ABELSETH,Mr,Olaus Jørgensen,25.0,olaus-jorgensen-abelseth,1,Olaus
3,ABELSON,Mrs,Anna,28.0,abelson,1,Anna
4,ABĪ SA'B,Mrs,Sha'nīnah,38.0,shawneene-george-joseph,1,Sha'nīnah

# Non-ascii names

155 out of all the TITANIC passengers (including ship crew) have a non-ascii last name.

70 out of all the passengers have a non-ascii first name.

In [63]:
tmp_f = [item.encode('ascii', 'ignore').decode('ascii') for item in ground_truth['family name']]
non_ascii = [True if x != y else False for x, y in zip(tmp_f, ground_truth['family name'])]
ground_truth['uni_f'] = non_ascii
print('Non-ascii family names')
pd.value_counts(non_ascii)

Non-ascii family names

False    2053
True      155
dtype: int64

In [64]:
tmp_fs = [item.encode('ascii', 'ignore').decode('ascii') for item in ground_truth['fsname']]
non_ascii_ = [True if x != y else False for x, y in zip(tmp_fs, ground_truth['fsname'])]
ground_truth['uni_g'] = non_ascii_
print('Non-ascii first names')
pd.value_counts(non_ascii_)

Non-ascii first names

False    2138
True       70
dtype: int64

# Use unidecode to transform non-ascii names

In [65]:
#!pip install unidecode
from unidecode import unidecode
ground_truth['family name'] = [unidecode(item) for item in ground_truth['family name']]
ground_truth['fsname'] = [unidecode(item) for item in ground_truth['fsname']]

# Or get the ascii names from the url

I noticed that the `unidecode` transformed non-ascii names do not match those names in the provide dataset AT ALL!!!

Apperantly, the conversion was done some other way.

Note that urls can not have non-ascii characters, and the urls for those passengers can be parsed to exact their family and last names. You can see in the following that this works.

In [66]:
ground_truth.set_index(np.arange(0, ground_truth.shape[0]), inplace=True)

In [67]:
for i, item in ground_truth.iterrows():
    dash = re.search('-', item['alt name'])
    if item.uni_f | item.uni_g | bool(dash):
        ground_truth.at[i, 'family name'] = item['alt name'].split('-')[-1].upper()
        ground_truth.at[i, 'fsname'] = item['alt name'].split('-')[0].capitalize()

In [68]:
train['fname'] = [re.search('^(.*?), ', item).group(1) for item in train.Name]
train['prefix'] = [re.search('^.*?, (.*?)\. ', item).group(1) for item in train.Name]
train['gname'] = [re.search('^.*?, .*?\. (.*)', item).group(1) for item in train.Name]

# Cleaning up the names

Even though the description of this problem says you don't need to do much data cleaning, it is not the case.

In [69]:
# cleaning
tmp = [re.search('^.*?, .*?\. ([^ ]*?)( |$)', item).group(1) for item in train.Name]
tmp2 = [re.search('\((.*?)( |\)|$)', item).group(1) if item.startswith('(') else item for item in tmp]

# more cleaning
tmp3 = [z.group(1) if y == 'Mrs' and (z:=re.search('^.*?\((.*?)( |\))', x)) is not None else w for x, y, w in zip(train.gname, train.prefix, tmp2)]
train['fsname'] = tmp3

# dashes
train['fname'] = [item.split('-')[-1] if bool(re.search('-', item)) else item for item in train['fname']]
# spaces
train['fname'] = [item.split(' ')[-1] if bool(re.search(' ', item)) else item for item in train['fname']]
# quotes
train['fname'] = [item.replace("'", '') if bool(re.search("'", item)) else item for item in train['fname']]

In [70]:
test['fname'] = [re.search('^(.*?), ', item).group(1) for item in test.Name]
test['prefix'] = [re.search('^.*?, (.*?)\. ', item).group(1) for item in test.Name]
test['gname'] = [re.search('^.*?, .*?\. (.*)', item).group(1) for item in test.Name]
# cleaning
tmp = [re.search('^.*?, .*?\. ([^ ]*?)( |$)', item).group(1) for item in test.Name]
tmp2 = [re.search('\((.*?)( |\)|$)', item).group(1) if item.startswith('(') else item for item in tmp]

# more cleaning
tmp3 = [z.group(1) if y == 'Mrs' and (z:=re.search('^.*?\((.*?)( |\))', x)) is not None else w for x, y, w in zip(test.gname, test.prefix, tmp2)]
test['fsname'] = tmp3

# dashes
test['fname'] = [item.split('-')[-1] if bool(re.search('-', item)) else item for item in test['fname']]
# spaces
test['fname'] = [item.split(' ')[-1] if bool(re.search(' ', item)) else item for item in test['fname']]
# quotes
test['fname'] = [item.replace("'", '') if bool(re.search("'", item)) else item for item in test['fname']]

# Checking names

Out of the 1309 records provided by kaggle, we only failed to identify 57 of them. I say this is pretty good.

I have checked those 57 records. The problem is misspelled names in the kaggle dataset. I see no point in manually checking these records, even though it is achievable in under 1 hour, assuming that you can identify 1 record in 1 min.

Another problem I see is that often times the Age field in the kaggle dataset is not correct. It is not a rounding issue. Sometimes the age is off by a few years. A few things are possible here:

1. kaggle staff intentially modified those values to defy a solution like this one
2. kaggle staff scraped a less reliable source than the one used here

I will be honest here. Before attempting this solution, I have tried a ML approach which only scored ~78%, and in that approach I found that Age is a very important predictor of survivalship. Given the provided Age is not the actual age of the passenger, now I feel that some of the significance of the Age field may have been engineered into this dataset by kaggle staff.

In [71]:
dataset = pd.concat([train, test])
print(dataset.shape)
dataset.head()

(1309, 16)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fname,prefix,gname,fsname
0,1,0.0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund,Mr,Owen Harris,Owen
1,2,1.0,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings,Mrs,John Bradley (Florence Briggs Thayer),Florence
2,3,1.0,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen,Miss,Laina,Laina
3,4,1.0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle,Mrs,Jacques Heath (Lily May Peel),Lily
4,5,0.0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen,Mr,William Henry,William

In [72]:
fails_count = 0
srved = ground_truth

for i, item in dataset.iterrows():
    if (not np.isnan(item.Survived)) and int(item.Survived) == 0:
        continue
    mask_lastname = [item.fname.upper()==itemx for itemx in srved['family name']]
    how_many = sum(mask_lastname)
    if how_many == 1:
        True
    elif how_many > 1:
        mask_prefix = [item.prefix == itemx for itemx in srved['prefix']]
        mask_ = np.array(mask_lastname) & np.array(mask_prefix)
        how_many = sum(mask_)
        if how_many == 1:
            True
        elif how_many > 1:
            mask_fstname = [item.fsname == itemx for itemx in srved['fsname']]
            mask__ = np.array(mask_fstname) & np.array(mask_)
            how_many = sum(mask__)
            if how_many == 1:
                True    
            else:
                fails_count += 1
                print(f'failed at given name {item.fsname}, indix {i}, matched {how_many}')
    else:
        fails_count += 1
        print(f'failed at family name {item.fname}, indix {i}, matched {how_many}')

print(f'{fails_count} failed')

failed at given name Charles, indix 17, matched 2
failed at family name Masselmani, indix 19, matched 0
failed at family name ODriscoll, indix 47, matched 0
failed at family name Sheerlinck, indix 81, matched 0
failed at family name Peter, indix 128, matched 0
failed at given name August, indix 146, matched 0
failed at given name Margaret, indix 194, matched 0
failed at given name Katherine, indix 241, matched 0
failed at family name Bissette, indix 269, matched 0
failed at family name Castellana, indix 307, matched 0
failed at family name Bratthammer, indix 444, matched 0
failed at given name Eden, indix 489, matched 0
failed at given name George, indix 507, matched 0
failed at family name Peter, indix 533, matched 0
failed at given name John, indix 572, matched 2
failed at given name Ali, indix 692, matched 0
failed at family name Mullens, indix 697, matched 0
failed at family name Lesurer, indix 737, matched 0
failed at given name Susan, indix 742, matched 0
failed at family name Barah, indix 762, matched 0
failed at family name Ayoub, indix 780, matched 0
failed at given name George, indix 831, matched 0
failed at family name Serepeca, indix 842, matched 0
failed at family name Najib, indix 875, matched 0
failed at given name Johan, indix 5, matched 2
failed at family name Ilieff, indix 10, matched 0
failed at family name Katavelas, indix 35, matched 0
failed at given name Lucien, indix 50, matched 0
failed at family name Geiger, indix 74, matched 0
failed at family name Demetri, indix 83, matched 0
failed at family name ODonoghue, indix 88, matched 0
failed at given name Demetrios, indix 115, matched 0
failed at given name John, indix 116, matched 0
failed at given name Alicia, indix 127, matched 0
failed at family name Lefebre, indix 132, matched 0
failed at family name Dintcheff, indix 134, matched 0
failed at family name Drapkin, indix 138, matched 0
failed at family name Planke, indix 145, matched 0
failed at given name Ada, indix 188, matched 0
failed at family name Baimbrigge, indix 198, matched 0
failed at family name Rasmussen, indix 199, matched 0
failed at given name Katherine, indix 206, matched 0
failed at family name Rosenbaum, indix 208, matched 0
failed at family name Thomson, indix 219, matched 0
failed at family name Wenzel, indix 254, matched 0
failed at family name Saade, indix 274, matched 0
failed at family name Nasr, indix 292, matched 0
failed at family name Hagardon, indix 315, matched 0
failed at given name Tannous, indix 332, matched 0
failed at family name Denbury, indix 338, matched 0
failed at family name Whabee, indix 347, matched 0
failed at family name Walcroft, indix 349, matched 0
failed at family name OKeefe, indix 358, matched 0
failed at given name William, indix 360, matched 0
failed at family name Riihivouri, indix 367, matched 0
failed at family name Conlon, indix 399, matched 0
failed at family name Peter, indix 417, matched 0
57 failed

# What have I learned from this?

The majority of the missed counts are due to typos in the training set. I am not sure if those typos are intentional planted there or not. The training set should not be taken as the facts, as I have encountered plenty of inconsistent age values. It is possible to get 100% correct on this, but I don't think it is worth the effort, so I am not trying to improve my score further.

155 family names and 70 surnames have non-ascii characters in them, and converting these chars accounts for most of my effort in this problem. There are many ways to convert accented chars to latin chars. For this particular dataset, scraping the url (ascii by the standard) link works better than using the uniencode package.

# Predictions

In [73]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fname,prefix,gname,fsname
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Kelly,Mr,James,James
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Wilkes,Mrs,James (Ellen Needs),Ellen
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Myles,Mr,Thomas Francis,Thomas
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Wirz,Mr,Albert,Albert
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Hirvonen,Mrs,Alexander (Helga E Lindqvist),Helga

In [74]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fname,prefix,gname,fsname
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Kelly,Mr,James,James
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Wilkes,Mrs,James (Ellen Needs),Ellen
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Myles,Mr,Thomas Francis,Thomas
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Wirz,Mr,Albert,Albert
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Hirvonen,Mrs,Alexander (Helga E Lindqvist),Helga

In [75]:
test['survived'] = None

srved = ground_truth[ground_truth.survived == 1]
fails_count = 0

for i, item in test.iterrows():
    mask_lastname = [item.fname.upper()==itemx for itemx in srved['family name']]
    how_many = sum(mask_lastname)
    if how_many == 1:
        test.survived.at[i] = 1
    #    print('\u2713')
    elif how_many > 1:
        mask_prefix = [item.prefix == itemx for itemx in srved['prefix']]
        mask_ = np.array(mask_lastname) & np.array(mask_prefix)
        how_many = sum(mask_)
        if how_many == 1:
            test.survived.at[i] = 1
    #        print('\u2713')
        elif how_many > 1:
            mask_fstname = [item.fsname == itemx for itemx in srved['fsname']]
            mask__ = np.array(mask_fstname) & np.array(mask_)
            how_many = sum(mask__)
            if how_many == 1:
                test.survived.at[i] = 1
    #            print('\u2713')
            else:
                fails_count += 1
                print(f'failed at given name {item.fsname}, indix {i}, matched {how_many}')
    else:
        fails_count += 1
        print(f'failed at family name {item.fname}, indix {i}, matched {how_many}')

print(f'{fails_count} failed')

failed at family name Myles, indix 2, matched 0
failed at family name Wirz, indix 3, matched 0
failed at family name Ilieff, indix 10, matched 0
failed at family name Ilmakangas, indix 18, matched 0
failed at family name Khalil, indix 19, matched 0
failed at family name Robins, indix 25, matched 0
failed at family name Brady, indix 28, matched 0
failed at family name Samaan, indix 29, matched 0
failed at family name Jefferys, indix 31, matched 0
failed at family name Katavelas, indix 35, matched 0
failed at family name Cacic, indix 37, matched 0
failed at family name Franklin, indix 41, matched 0
failed at family name Corbett, indix 43, matched 0
failed at family name Peltomaki, indix 45, matched 0
failed at family name Shaughnessy, indix 47, matched 0
failed at family name Pulbaum, indix 51, matched 0
failed at family name Mangiavacchi, indix 54, matched 0
failed at family name Cor, indix 56, matched 0
failed at family name Dika, indix 60, matched 0
failed at family name McCrae, indix 61, matched 0
failed at family name Bjorklund, indix 62, matched 0
failed at family name Corey, indix 65, matched 0
failed at given name Clarence, indix 67, matched 0
failed at family name Minkoff, indix 71, matched 0
failed at family name Nieminen, indix 72, matched 0
failed at family name Rodriguez, indix 73, matched 0
failed at family name Geiger, indix 74, matched 0
failed at family name Keeping, indix 75, matched 0
failed at family name Miles, indix 76, matched 0
failed at family name Aldworth, indix 78, matched 0
failed at family name Doyle, indix 79, matched 0
failed at family name Boulos, indix 80, matched 0
failed at family name Straus, indix 81, matched 0
failed at family name Case, indix 82, matched 0
failed at family name Demetri, indix 83, matched 0
failed at family name Lamb, indix 84, matched 0
failed at family name Khalil, indix 85, matched 0
failed at family name Barry, indix 86, matched 0
failed at family name ODonoghue, indix 88, matched 0
failed at family name Pedersen, indix 91, matched 0
failed at family name Guest, indix 93, matched 0
failed at family name Birnbaum, indix 94, matched 0
failed at family name Makinen, indix 97, matched 0
failed at family name Braf, indix 98, matched 0
failed at family name Nancarrow, indix 99, matched 0
failed at given name William, indix 102, matched 0
failed at family name Holthen, indix 105, matched 0
failed at family name Willer, indix 108, matched 0
failed at family name Swane, indix 109, matched 0
failed at family name Stanton, indix 110, matched 0
failed at family name Straus, indix 114, matched 0
failed at family name Chronopoulos, indix 115, matched 0
failed at given name John, indix 116, matched 0
failed at family name Beattie, indix 118, matched 0
failed at family name Kiernan, indix 121, matched 0
failed at family name Carver, indix 123, matched 0
failed at family name Brobeck, indix 126, matched 0
failed at given name Alicia, indix 127, matched 0
failed at family name Bowenur, indix 128, matched 0
failed at family name Petersen, indix 129, matched 0
failed at family name Spinner, indix 130, matched 0
failed at family name Lefebre, indix 132, matched 0
failed at given name Charles, indix 133, matched 0
failed at family name Dintcheff, indix 134, matched 0
failed at family name Carlsson, indix 135, matched 0
failed at family name Zakarian, indix 136, matched 0
failed at family name Schmidt, indix 137, matched 0
failed at family name Drapkin, indix 138, matched 0
failed at family name Goodwin, indix 139, matched 0
failed at family name Goodwin, indix 140, matched 0
failed at family name Lind, indix 144, matched 0
failed at family name Planke, indix 145, matched 0
failed at family name Hilliard, indix 146, matched 0
failed at family name Crafton, indix 148, matched 0
failed at family name Lahtinen, indix 149, matched 0
failed at family name Matinoff, indix 151, matched 0
failed at family name Storey, indix 152, matched 0
failed at family name Klasen, indix 153, matched 0
failed at family name Borebank, indix 158, matched 0
failed at family name Peacock, indix 159, matched 0
failed at family name Peruschitz, indix 164, matched 0
failed at family name Brandeis, indix 166, matched 0
failed at family name Ford, indix 167, matched 0
failed at family name Lithman, indix 170, matched 0
failed at family name Zakarian, indix 171, matched 0
failed at family name Torfa, indix 173, matched 0
failed at family name McCrie, indix 180, matched 0
failed at family name Lane, indix 183, matched 0
failed at family name Maybery, indix 185, matched 0
failed at family name Sage, indix 188, matched 0
failed at family name Veal, indix 189, matched 0
failed at family name Billiard, indix 192, matched 0
failed at family name Lingane, indix 193, matched 0
failed at family name Baimbrigge, indix 198, matched 0
failed at family name Rasmussen, indix 199, matched 0
failed at family name Danbom, indix 201, matched 0
failed at family name Andrew, indix 204, matched 0
failed at family name Rosenbaum, indix 208, matched 0
failed at family name Delalic, indix 209, matched 0
failed at family name Andersen, indix 210, matched 0
failed at family name Deacon, indix 212, matched 0
failed at family name Head, indix 215, matched 0
failed at family name Mahon, indix 216, matched 0
failed at family name Thomson, indix 219, matched 0
failed at family name Reynolds, indix 221, matched 0
failed at family name McNeill, indix 227, matched 0
failed at family name Everett, indix 228, matched 0
failed at family name Sweet, indix 230, matched 0
failed at family name Wiklund, indix 232, matched 0
failed at family name Linehan, indix 233, matched 0
failed at family name Vendel, indix 235, matched 0
failed at family name Baccos, indix 237, matched 0
failed at family name Hiltunen, indix 238, matched 0
failed at family name Karnes, indix 246, matched 0
failed at family name Khalil, indix 249, matched 0
failed at family name Salander, indix 253, matched 0
failed at family name Wenzel, indix 254, matched 0
failed at family name MacKay, indix 255, matched 0
failed at family name Mahon, indix 256, matched 0
failed at family name Niklasson, indix 257, matched 0
failed at family name Klasen, indix 263, matched 0
failed at family name Lyntakoff, indix 265, matched 0
failed at family name Chisholm, indix 266, matched 0
failed at family name Pokrnic, indix 269, matched 0
failed at family name McCaffry, indix 270, matched 0
failed at family name Fox, indix 271, matched 0
failed at family name Lennon, indix 273, matched 0
failed at family name Saade, indix 274, matched 0
failed at family name Parker, indix 276, matched 0
failed at family name Faunthorpe, indix 277, matched 0
failed at family name Oreskovic, indix 280, matched 0
failed at family name Peacock, indix 281, matched 0
failed at family name Rosblom, indix 284, matched 0
failed at family name Dennis, indix 285, matched 0
failed at family name Franklin, indix 286, matched 0
failed at family name Mardirosian, indix 288, matched 0
failed at family name Ford, indix 289, matched 0
failed at family name Nasr, indix 292, matched 0
failed at family name Wittevrongel, indix 294, matched 0
failed at family name Angheloff, indix 295, matched 0
failed at family name Samaan, indix 297, matched 0
failed at family name Loring, indix 298, matched 0
failed at family name Olsson, indix 300, matched 0
failed at family name Malachard, indix 301, matched 0
failed at family name Pokrnic, indix 303, matched 0
failed at family name Cacic, indix 310, matched 0
failed at family name Sadowitz, indix 312, matched 0
failed at family name Carr, indix 313, matched 0
failed at family name Hagardon, indix 315, matched 0
failed at family name Rogers, indix 317, matched 0
failed at family name Jefferys, indix 319, matched 0
failed at family name Nesson, indix 322, matched 0
failed at family name Assam, indix 325, matched 0
failed at family name Rosenshine, indix 327, matched 0
failed at family name Enander, indix 329, matched 0
failed at family name Dulles, indix 331, matched 0
failed at given name Tannous, indix 332, matched 0
failed at family name Cor, indix 334, matched 0
failed at family name Maguire, indix 335, matched 0
failed at family name Brito, indix 336, matched 0
failed at family name Elias, indix 337, matched 0
failed at family name Denbury, indix 338, matched 0
failed at family name Betros, indix 339, matched 0
failed at family name Fillbrook, indix 340, matched 0
failed at family name Sage, indix 342, matched 0
failed at family name Billiard, indix 344, matched 0
failed at family name Botsford, indix 346, matched 0
failed at family name Whabee, indix 347, matched 0
failed at family name Giles, indix 348, matched 0
failed at family name Walcroft, indix 349, matched 0
failed at family name Stokes, indix 351, matched 0
failed at family name Dibden, indix 352, matched 0
failed at family name Julian, indix 355, matched 0
failed at family name Lockyer, indix 357, matched 0
failed at family name OKeefe, indix 358, matched 0
failed at family name Lindell, indix 359, matched 0
failed at family name Sage, indix 360, matched 0
failed at family name Strilic, indix 363, matched 0
failed at family name Sage, indix 365, matched 0
failed at family name Caram, indix 366, matched 0
failed at family name Riihivouri, indix 367, matched 0
failed at family name Giles, indix 370, matched 0
failed at family name Harbeck, indix 373, matched 0
failed at family name Cotterill, indix 377, matched 0
failed at family name Hipkins, indix 378, matched 0
failed at given name Joseph, indix 381, matched 0
failed at family name Risien, indix 382, matched 0
failed at family name McNamee, indix 383, matched 0
failed at family name Wheeler, indix 384, matched 0
failed at family name Aronsson, indix 386, matched 0
failed at family name Ashby, indix 387, matched 0
failed at family name Canavan, indix 388, matched 0
failed at family name Palsson, indix 389, matched 0
failed at family name Payne, indix 390, matched 0
failed at family name Gilbert, indix 393, matched 0
failed at family name Colbert, indix 396, matched 0
failed at family name Rondberg, indix 398, matched 0
failed at family name Conlon, indix 399, matched 0
failed at family name Gale, indix 401, matched 0
failed at family name Carrau, indix 403, matched 0
failed at family name Peacock, indix 409, matched 0
failed at family name Naughton, indix 410, matched 0
failed at family name Henriksson, indix 412, matched 0
failed at family name Spector, indix 413, matched 0
failed at family name Saether, indix 415, matched 0
failed at family name Peter, indix 417, matched 0
206 failed

In [76]:
srved = ground_truth[ground_truth.survived == 0]
fails_count = 0

for i, item in test.iterrows():
    mask_lastname = [item.fname.upper()==itemx for itemx in srved['family name']]
    how_many = sum(mask_lastname)
    if how_many == 1:
        test.survived.at[i] = 0
    #    print('\u2713')
    elif how_many > 1:
        mask_prefix = [item.prefix == itemx for itemx in srved['prefix']]
        mask_ = np.array(mask_lastname) & np.array(mask_prefix)
        how_many = sum(mask_)
        if how_many == 1:
            test.survived.at[i] = 0
    #        print('\u2713')
        elif how_many > 1:
            mask_fstname = [item.fsname == itemx for itemx in srved['fsname']]
            mask__ = np.array(mask_fstname) & np.array(mask_)
            how_many = sum(mask__)
            if how_many == 1:
                test.survived.at[i] = 0
    #            print('\u2713')
            else:
                fails_count += 1
                print(f'failed at given name {item.fsname}, indix {i}, matched {how_many}')
    else:
        fails_count += 1
        print(f'failed at family name {item.fname}, indix {i}, matched {how_many}')

print(f'{fails_count} failed')

failed at family name Wilkes, indix 1, matched 0
failed at family name Hirvonen, indix 4, matched 0
failed at family name Connolly, indix 6, matched 0
failed at family name Caldwell, indix 7, matched 0
failed at family name Abrahim, indix 8, matched 0
failed at family name Ilieff, indix 10, matched 0
failed at family name Snyder, indix 12, matched 0
failed at family name Assaf, indix 17, matched 0
failed at family name Flegenheim, indix 22, matched 0
failed at given name Richard, indix 23, matched 0
failed at family name Mock, indix 34, matched 0
failed at family name Katavelas, indix 35, matched 0
failed at family name Roth, indix 36, matched 0
failed at family name Sap, indix 38, matched 0
failed at family name Hee, indix 39, matched 0
failed at family name Karun, indix 40, matched 0
failed at family name Kimball, indix 44, matched 0
failed at family name Chevre, indix 46, matched 0
failed at family name Bucknell, indix 48, matched 0
failed at family name Coutts, indix 49, matched 0
failed at given name Lucien, indix 50, matched 0
failed at family name Abelseth, indix 57, matched 0
failed at family name Chaudanson, indix 59, matched 0
failed at family name Tucker, indix 68, matched 0
failed at family name Mulvihill, indix 70, matched 0
failed at family name Geiger, indix 74, matched 0
failed at family name Cornell, indix 77, matched 0
failed at family name Demetri, indix 83, matched 0
failed at family name Badman, indix 87, matched 0
failed at family name ODonoghue, indix 88, matched 0
failed at family name Wells, indix 89, matched 0
failed at family name Tenglin, indix 95, matched 0
failed at family name Stengel, indix 100, matched 0
failed at family name Palmquist, indix 103, matched 0
failed at given name Edward, indix 107, matched 0
failed at family name Shine, indix 111, matched 0
failed at given name Demetrios, indix 115, matched 0
failed at given name John, indix 116, matched 0
failed at family name Sandstrom, indix 117, matched 0
failed at family name Watt, indix 120, matched 0
failed at family name Schabert, indix 122, matched 0
failed at family name Kennedy, indix 124, matched 0
failed at family name McCoy, indix 127, matched 0
failed at family name Gracie, indix 131, matched 0
failed at family name Lefebre, indix 132, matched 0
failed at family name Dintcheff, indix 134, matched 0
failed at family name Drapkin, indix 138, matched 0
failed at family name Daniels, indix 141, matched 0
failed at family name Planke, indix 145, matched 0
failed at family name Earnshaw, indix 150, matched 0
failed at family name Duquemin, indix 155, matched 0
failed at family name Lundin, indix 157, matched 0
failed at family name Touma, indix 161, matched 0
failed at family name Heilmann, indix 165, matched 0
failed at family name Cassebeer, indix 168, matched 0
failed at family name Hellstrom, indix 169, matched 0
failed at family name Sincock, indix 176, matched 0
failed at family name Stengel, indix 177, matched 0
failed at family name Becker, indix 178, matched 0
failed at given name Ada, indix 188, matched 0
failed at family name Salomon, indix 191, matched 0
failed at family name Spedden, indix 196, matched 0
failed at family name Baimbrigge, indix 198, matched 0
failed at family name Rasmussen, indix 199, matched 0
failed at family name Murphy, indix 200, matched 0
failed at family name Quick, indix 203, matched 0
failed at family name Omont, indix 205, matched 0
failed at family name Collett, indix 207, matched 0
failed at family name Rosenbaum, indix 208, matched 0
failed at family name Finoli, indix 211, matched 0
failed at family name Thomson, indix 219, matched 0
failed at family name More, indix 220, matched 0
failed at given name Einar, indix 223, matched 0
failed at family name Candee, indix 224, matched 0
failed at family name Moubarek, indix 225, matched 0
failed at family name Willard, indix 231, matched 0
failed at family name Lindstrom, indix 240, matched 0
failed at family name Christy, indix 241, matched 0
failed at family name Spedden, indix 242, matched 0
failed at family name Hyman, indix 243, matched 0
failed at family name Abrahamsson, indix 251, matched 0
failed at family name Wenzel, indix 254, matched 0
failed at family name Bentham, indix 258, matched 0
failed at family name Midtsjo, indix 259, matched 0
failed at family name Messemaeker, indix 260, matched 0
failed at family name Wells, indix 262, matched 0
failed at family name Portaluppi, indix 264, matched 0
failed at family name Saade, indix 274, matched 0
failed at family name Oxenham, indix 279, matched 0
failed at family name Touma, indix 283, matched 0
failed at family name Snyder, indix 287, matched 0
failed at family name Rheims, indix 290, matched 0
failed at family name Daly, indix 291, matched 0
failed at family name Nasr, indix 292, matched 0
failed at family name Dodge, indix 293, matched 0
failed at family name Aks, indix 307, matched 0
failed at family name Vartanian, indix 311, matched 0
failed at family name Hagardon, indix 315, matched 0
failed at family name Krekorian, indix 321, matched 0
failed at family name Kreuchen, indix 324, matched 0
failed at family name Becker, indix 326, matched 0
failed at given name Tannous, indix 332, matched 0
failed at family name Nakid, indix 333, matched 0
failed at family name Denbury, indix 338, matched 0
failed at family name Lundstrom, indix 341, matched 0
failed at family name Cardeza, indix 343, matched 0
failed at family name Abelseth, indix 345, matched 0
failed at family name Whabee, indix 347, matched 0
failed at family name Walcroft, indix 349, matched 0
failed at family name Greenfield, indix 350, matched 0
failed at family name OKeefe, indix 358, matched 0
failed at given name William, indix 360, matched 0
failed at family name Harder, indix 364, matched 0
failed at family name Riihivouri, indix 367, matched 0
failed at family name Gibson, indix 368, matched 0
failed at family name Castello, indix 369, matched 0
failed at family name Ismay, indix 372, matched 0
failed at family name Dodge, indix 374, matched 0
failed at family name Lines, indix 391, matched 0
failed at family name Heilmann, indix 394, matched 0
failed at family name Stehli, indix 397, matched 0
failed at family name Conlon, indix 399, matched 0
failed at family name Bonnell, indix 400, matched 0
failed at family name Gibson, indix 402, matched 0
failed at family name Frauenthal, indix 404, matched 0
failed at family name Nourney, indix 405, matched 0
failed at family name Riordan, indix 408, matched 0
failed at family name Ocana, indix 414, matched 0
failed at family name Peter, indix 417, matched 0
129 failed

In [77]:
test.survived.isna().sum()

33

# Filling in missing values

We failed to locate 33 passengers in the test set. We are not going to manually check those 33 names, although it is possible. We are going to fillin the most probable survival status for these 33 passengers, which is '0' based on the training set. 

At the very end, we used some statistics skills to fill in NA values with their most probable outcome. Now, I am feeling a bit better now. All those years studying statistics are not useless after all!

In [78]:
pd.value_counts(train.Survived)

0    549
1    342
Name: Survived, dtype: int64

In [79]:
test.survived.fillna(0, inplace=True)

In [80]:
result = pd.DataFrame([test.PassengerId, test.survived]).T
result.astype({'PassengerId': 'int32', 'survived': 'int32'})
result.to_csv('submit.csv', index=False)

# End

I hope you like this solution. All the scripts, including this notebook, and outputs with the exception of the final predictions can be found on my [GitHub repo](https://github.com/HVoltBb/misc/src/kaggle/titanic/).

Let me know if you learned something new!!!